* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}

#resesTopo{
    background-color: green;
    width: 100%;
    height: 80px;
}

#redesSociais{
    display: flex;
    align-items: center;
}

#botaoMatricula{
    margin-top: 8px;
    background-color: yellow;
    font-size: 20px;
    font-weight: bolder;
    width: 140px;
    border-radius: 10px;
    border: none;
    padding: 8px;
    margin-left: 600%;
    cursor: pointer;
}

.redesIcon{
    margin-top: 15px;
    width: 50px;
    margin-left: 50px;
  
}

#mensagemInicial{
    font-size: 50px;
    margin-left: 35%;
    margin-bottom: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#carosselTop{   
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column;
    background-color: rgb(234, 234, 238);
    height: 450px;
    width: 100%;
    align-items: center;
    
}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 400px;
    width: 400px;

}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.slide{
    object-fit: cover;
    height: 400px;
    width: 400px;
}

#titleDiferencial{
    text-align: center;
    margin-top: 30px;
}

#diferencial{
    margin-top: 40px;
    margin-left: 100px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.cardDiferencial{
    width: 300px;
}

#maticulaJa{
    margin-top: 40px;
    text-align: center;
}

.maticulaJa{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    border-radius: 20px;
    width: 400px;
    height: 100px;
    background-color: yellow;
}

.carrossell{
    filter: drop-shadow(0px 0px 5px #000);
    overflow: hidden;
    height: 307px;
    width: 600px;

}

.containerr{
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}

.ensino{
    width: 600px;
    height: 307px;
}

.carrossell{
  margin-left: 27%;
  margin-top: 35px;
}

#alunosAtlas{
    background-color: rgb(180, 231, 180);
    width: 100%;
    margin-top: 60px;
    
}

#tituloAluno{
   text-align: center;
   padding-top: 20px;
   color:beige;
   filter: drop-shadow(0px 0px 5px #000);

}

#instagran{
    display:grid;
    grid-auto-flow: column;
    margin-top: 70px;

}

.depoimentos{
    text-align: center;
    margin-bottom: 10px;
    color: aliceblue;
    filter: drop-shadow(0px 0px 5px #000);
}

#vemSer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#direitosReservados{
    background-color: rgb(127, 126, 128);
    width: 100%;
    height: 50px;
    text-align: center;
}

.pisi{
    width: 100px;
    margin-top: 4px;
    
}

.maticulaJa{
    cursor: pointer;
    filter: drop-shadow(0px 0px 7px green);
}

#parceiros{
    text-align: center;
    margin-bottom: 30px;
    background-color: beige;
}

#parceiros h1{
    margin-bottom: 10px;
}

.whats{
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
}

#impacta{
  

}

.impactaLogo{
    width: 400px;
}

@keyframes anima {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
}

button:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

a:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.impactaLogo:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@media only screen and (max-width: 600px) {
 

    #botaoMatricula{
       margin-left: 100px;
       font-size: 15px;
       width: 120px;
       height: 40px;
       margin-top: 0px;
       padding-top: 2px;
    }

    #redesSociais{
        height: 50px;
    
    }

    #resesTopo{
        width: 406px;
        height: 50px;

    }

    .redesIcon{
        width: 30px;
        margin-left: 25px;
        margin-top: 0;
        margin-left: opx;
    }

    #carosselTop{
        display:inline-block;
        width: 406px;
        height: 900px;
        align-items: center;

    }

    #logoAtlas{
        margin-top: 25px;
        display: block;
        margin-left: 35px;
        margin-bottom: 30px;
    }

    .carrossel{
        margin-left: 2px;
        width: 400px;
              
    }

    .slide{
        width: 400px;
    }

 

    #mensagemInicial{
       text-align: center;
       margin-right: 10px;
       margin-left: 10px;
    }

    #divtitleDiferencial{
        width: 406px;
    }

    #titleDiferencial{
        width: 406px;
    }

    #diferencial{
        display: block;
        text-align: center;
        margin-left: 2px;

    }

    .cardDiferencial{
        width: 350px;
    }

    #titleDiferencial{
        text-align: center;
        font-size: 35px;
        }

    #maticulaJa{
        width: 375;
    }
    
    .maticulaJa{
        width: 340px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .carrossell{
        margin-left: 0px;
        width: 375px;
        height: 200px;
    }

    

    .containerr{
        width: 375px;
    }

    .ensino{
       width: 375px;
       height: 150px;

    }

    #instagran{
        display:inline-block;
        margin-top: 10px;
    
    }

    #alunosAtlas{
        width: 406px;
    }
    .nosMotiva{
        text-align: center;
        margin-left: 18px;
        width: 370px;
        margin-top: 50px;
    }

    #vemSer{
        margin-top: 10;
    }

    .maticulaJa{
        margin-top: 10px ;
    }

    #direitosReservados{
        width: 406px;
    }

   
}
